; EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset                   = utf-8
end_of_line               = lf
indent_size               = 4
indent_style              = space
insert_final_newline      = true
trim_trailing_whitespace  = true

; The default indent on package.json is 2 spaces, better to keep it so we can
; use `npm install --save` and other features that rewrites the package.json
; file automatically
[package.json]
indent_style = space
indent_size = 2
