html, body {
    font-family: 'Merriweather';
    font-weight: 200;
    font-size: 18px;
    line-height: 1.6em;
    padding: 0;
    margin: 0;
    color: #fff;
}

a {
    color: #333;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    color: #34495e;
}

.container {
    margin: 0 auto;
    text-align: center;
}

ul.social-medias {
    padding: 0;
    list-style: none;
}

ul.social-medias li {
    display: inline-block;
    width: 5em;
}

.intro {
    background-color: #EA3556;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0 0 40px 0;
}

code {
    margin: 0 auto 10px auto;
    display: block;
    width: 20em;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

@media (max-width: 640px) {
    body {
        font-size: 16px;
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        padding-bottom: 20px;
    }

    a.pure-button {
        font-size: 80%;
    }
}

/** Sections */
.install {
    background-color: #61D2D6;
    padding: 0 0 20px 0;
    margin-top: 20px;
}

.usage {
    color: #333;
}

.made-by {
    padding: 20px 0;
}
