@-webkit-keyframes love {
    to { -webkit-transform: scale(1.1); }
}

@-moz-keyframes love {
    to { -moz-transform: scale(1.1); }
}

@keyframes love {
    to { transform: scale(1.1); }
}

.with-love {
    color: #333;
    display: inline-block;
}

.with-love .heart {
    font-size: 1.4em;
    color: #ff79c6;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
}
